@import '../../../../node_modules/@blueprintjs/core/lib/scss/variables';

$pt-navbar-height: 30px;
@import '../../../../node_modules/@blueprintjs/core/src/blueprint';

.#{$ns}-running-text {
  h1, h2, h3, h4, h5 {
    margin-top: $pt-grid-size * 1;
    margin-bottom: $pt-grid-size * 1;
  }
}

.code {
  font-family: "Lucida Console", Monaco, monospace
}

img.emoji {
  height: 16px;
  width: 16px;
  padding: 1px;
}

button {
  margin: 3px;
}